body {
    font-family: 'Playfair Display', serif;
    color: black;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

main {
    padding: 70px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(60, 60, 60, 1);
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
}

#links-div {
    display: flex;
    justify-content: space-between;
}

#header-img {

}

.nav-link {
    margin: 0px 15px 0px 15px;
}

@media (min-width: 800px) {
    .nav-link {
        margin: 0px 35px 0px 35px;
    }
}

@media (min-width: 1100px) {
    .nav-link {
        margin: 0px 50px 0px 50px;
    }
}

#video {
    margin: 15px 0px 15px 0px;
}

#form {

}

#email-input {

}

#submit {
    
}