#header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(60, 60, 60, 1);
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;
}

#links-div {
    display: flex;
    justify-content: space-between;
}

#header-img {

}

.nav-link {
    margin: 0px 15px 0px 15px;
}

#video {

}

#form {

}

#email-input {

}

#submit {
    
}