.clickable-mail:hover,
.nav-link:hover {
    animation-name: cool-underline;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

@keyframes cool-underline {
    0% {
        background-image: linear-gradient(120deg, rgba(255, 102, 0, 0.8) 0%, rgba(255, 177, 75, 0.8) 100%);
        background-repeat: no-repeat;
        background-size: 0% 0.4em;
        background-position: 0 88%;
    }
    100% {
        background-image: linear-gradient(120deg, rgba(255, 102, 0, 0.8) 0%, rgba(255, 177, 75, 0.8) 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.4em;
        background-position: 0 88%;
    }
}

body {
    font-family: 'Montserrat', sans-serif;    
    color: black;
    text-align: center;
    line-height: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
}

hr {
    width: 80%;
    border: 1px solid #ffb27f;
}

@media (min-width: 800px) {
    hr {
        width: 50%;
    }
}

main {
    padding: 100px 10vw 0px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 800px) {
    main {
        padding: 100px 20vw 0px 20vw;
    }
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(60, 60, 60, 0.5);
    z-index: 1;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
}

#links-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 400px) {
    #links-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    main {
        padding-top: 130px;
    }
}

#header-img {
    height: 50px;
}

.nav-link {
    margin: 5px 15px 5px 15px;
}


@media (min-width: 800px) {
    .nav-link {
        margin: 0px 35px 0px 35px;
    }
}

#video-container {
    margin: 25px 0 35px 0;
    position: relative;
    padding-bottom: 56.25%;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#p-below-vid {
    margin-top: 17px;
}

#the-concept {
    margin-bottom: 0px;
}

#my-products {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.name {
    font-weight: 800;
}

.info-box-1 {
    border-radius: 5px;
    border: 1px solid grey;
    width: 25%;
    height: auto;
    text-align: center;
    padding: 4% 2%;
}

.info-box-2 {
    border-radius: 5px;
    border: 1px solid grey;
    width: 25%;
    height: auto;
    text-align: center;
    padding: 4% 2%;
}

.info-box-1:hover,
.info-box-2:hover {
    box-shadow: 0px 0px 8px 0px rgba(134, 134, 134, 0.5);
}

@media (max-width: 800px) {
    .info-box-1 {
        height: 42vh;
    }
}

.lets-go-link {
    width: 100%;
    background-image: repeating-linear-gradient(120deg, rgba(255, 102, 0, 0.8) 0%, rgba(255, 177, 75, 0.8) 100%);
}

#contact {
    margin-top: 20px;
    margin-bottom: 35px;
}

#form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#email {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgba(60, 60, 60, 0.5);
    background-color: white;
    padding: 10px;
    outline: none;
}

#email:hover,
#email:focus,
#submit:hover,
#submit:focus {
    box-shadow: 0px 0px 8px 0px rgba(78, 78, 78, 0.4);
}

::placeholder {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px; 
}

#submit {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 1000;    
    color: white;
    background-color: rgb(253, 162, 44);
    outline: none
}

#footer {
    background-color: rgb(230, 230, 230);
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#bottom-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#bottom-link {
    margin: 5px;
}

#icon-div {
    display: flex;
    justify-content: space-between;
}

/*.fa {
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}  

.fa-twitter {
    background: #55ACEE;
    color: white;
}*/